#userInformationForm .ms-Grid-row {
  margin-bottom: 10px;
}

#userInformationForm .ms-Grid-row.new-password-confirmation {
  margin-bottom: 20px;
}

#userInformationForm .create-user-loading {
  display: inline-block;
  margin: 5px;
}
