#user-password-form .ms-Grid-row {
  margin-bottom: 10px;
}

#user-password-form .ms-Grid-row.new-password-confirmation {
  margin-bottom: 20px;
}

#user-password-form .loading {
  display: inline-block;
  margin: 5px;
}
